
body {color: #776655; background: #DDDDAA; margin: 0; padding: 0; background-image: url('pictures/camo.jpg'); background-attachment: fixed; background-repeat: repeat; background-position: right top;}

table {width: 100%; margin: 5; padding: 5; font-size: small; border: 1px solid #444444;}
table td {padding: 0; border-width: 1; vertical-align: top; font-family: Verdana, Arial, Helvetica, sans-serif; }

a {color: #554433; text-decoration: none; font-weight: bold; background-color: transparent;}

a:hover {color: #776655;}

h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
ul { margin: 2px; padding: 2px; list-style: decimal inside; text-align: left;}
li { margin-left: 2px; list-style: square inside; color: #666666}

input.formButton {background-color: #EEEECC; }


.outer {border: 0px solid #776655;}
.head {background-color: #887766; padding: 5px; font-weight: bold; color: #554433; }
.even {background-color: #AA9988; padding: 5px; color: #554433; }
.odd {background-color: #BBAA99; padding: 5px; color: #554433; }
.foot {background-color: #CCBBAA; padding: 5px; font-weight: bold; color: #554433; }
tr.even td {background-color: #AA9988; padding: 5px; color: #554433; }
tr.odd td {background-color: #BBAA99; padding: 5px; color: #554433; }

.item {border: 1px solid #554433; background-color: #DDDDAA;}
.itemHead {padding: 3px; background-color: #887766; color: #554433;}
.itemInfo {text-align: right; padding: 3px; background-color: #AA9988; color: #554433;}
.itemTitle a {font-size: 130%; font-weight: bold; font-variant: small-caps; color: #EEEECC; background-color: transparent;}
.itemPoster {font-size: 90%; font-style:italic;}
.itemPostDate {font-size: 90%; font-style:italic;}
.itemStats {font-size: 90%; font-style:italic;}
.itemBody {padding-left: 5px;}
.itemText {margin-top: 5px; margin-bottom: 5px; line-height: 1.5em;}
.itemText:first-letter {font-size: 133%; font-weight: bold; color: #FF0000;}
.itemFoot {text-align: right; padding: 3px; background-color: #CCBBAA}
.itemAdminLink {font-size: 90%;}
.itemPermaLink {font-size: 90%;}

th {background-color: #EEEECC; color: #554433; padding : 2px; vertical-align : middle; font-family: Verdana, Arial, Helvetica, sans-serif; }

td#headerlogo {background-color: transparent; background-image: url('pictures/header.jpg'); background-attachment: fixed; background-repeat: repeat; background-position: left top;}

td#headerbanner {background-color: #EEEECC; vertical-align: middle; text-align:center; padding: 3px; color: #000000; font-weight: bold; border: 0px solid #554433; background-image: url('pictures/background_banner.jpg'); background-attachment: fixed; background-repeat: no-repeat; background-position: left top; }

td#footer {vertical-align: middle; text-align:center; padding: 3px; color: #000000; font-weight: bold; border: 0px solid #554433; background-image: url('pictures/header.jpg'); background-attachment: fixed; background-repeat: repeat; background-position: right bottom;}

td#leftcolumn {width: 170px; border-right: 1px solid #444444; font-size:12px;}

td#leftcolumn th {background-color: #998877; color: #554433; vertical-align: middle;}

td#leftcolumn div.blockTitle {padding: 10px; color: #554433; font-weight: bold; font-size: 13px; text-align: center; background-image: url('pictures/background_column.jpg'); background-attachment: fixed; background-repeat: repeat; background-position: center bottom; }

td#leftcolumn div.blockContent {padding: 3px; line-height: 120%; background-color: #DDDDAA; }
 
td#centercolumn {font-size: 12px; color: #776655; background: transparent; }

td#centercolumn th {background-color: #998877; color: #554433; vertical-align: middle;}

td#centerCcolumn {padding: 0px 3px 1px 3px;}

td#centerCcolumn legend.blockTitle {padding: 3px; color: #000000; font-weight: bold; border: 1px solid #554433; background-image: url('pictures/camo_01.jpg'); background-attachment: fixed; background-repeat: repeat; background-position: center bottom; }

td#centerCcolumn div.blockContent {border-left: 1px solid #554433; border-right: 1px solid #554433; border-bottom: 1px solid #554433; padding: 3px; margin-right: 0px;  margin-left: 0px; margin-bottom: 2px; line-height: 120%; background: #FFFFEE; }

td#centerLcolumn {width: 50%; padding: 0px 3px 0px 0px;}

td#centerLcolumn legend.blockTitle {padding: 3px; color: #000000; font-weight: bold; border: 1px solid #554433; background-image: url('pictures/camo_01.jpg'); background-attachment: fixed; background-repeat: repeat; background-position: center bottom;}

td#centerLcolumn div.blockContent {border-left: 1px solid #554433; border-right: 1px solid #554433; border-bottom: 1px solid #554433; padding: 3px; margin-left: 2px; margin-right: 3px; margin-bottom: 2px; line-height: 120%; background: #FFFFEE;}

td#centerRcolumn {width: 50%; padding: 0px 3px 0px 0px;}

td#centerRcolumn legend.blockTitle {padding: 3px; color: #000000; font-weight: bold; border: 1px solid #554433; background-image: url('pictures/camo_01.jpg'); background-attachment: fixed; background-repeat: repeat; background-position: center bottom; }

td#centerRcolumn div.blockContent {border-left: 1px solid #554433; border-right: 1px solid #554433; border-bottom: 1px solid #554433; padding: 3px; margin-left: 2px; margin-right: 3px; margin-bottom: 2px; line-height: 120%; background: #FFFFEE; }

div#content {text-align: left; padding: 8px; color: #554433; }

td#rightcolumn {width: 170px; border-left: 1px solid #444444; font-size:12px;}

td#rightcolumn th {background-color: #998877; color: #554433; vertical-align: middle;}

td#rightcolumn div.blockTitle {padding: 10px; color: #554433; font-weight: bold; font-size: 13px;   text-align: center; background-image: url('pictures/background_column.jpg'); background-attachment: fixed; background-repeat: repeat; background-position: center bottom; }

td#rightcolumn div.blockContent {padding: 3px; line-height: 120%; background-color: #DDDDAA; }

td#mainmenu a {background-color: #EEEECC; color: #554433; display: block; margin: 0; padding: 4px;}

td#mainmenu a:hover {background-color: #554433; color: #EEEECC;}

td#mainmenu a.menuTop {padding-left: 3px; border-top: 1px solid silver; border-right: 1px solid #666666; border-bottom: 1px solid #666666; border-left: 1px solid silver;}

td#mainmenu a.menuMain {padding-left: 3px; border-right: 1px solid #666666; border-bottom: 1px solid #666666; border-left: 1px solid silver;}

td#mainmenu a.menuSub {padding-left: 9px; border-right: 1px solid #666666; border-bottom: 1px solid #666666; border-left: 1px solid silver;}

td#usermenu a {background-color: #EEEECC; color: #554433; display: block; margin: 0; padding: 4px; border-right: 1px solid #666666; border-bottom: 1px solid #666666; border-left: 1px solid silver;}

td#usermenu a:hover {background-color: #554433; color: #EEEECC;}

td#usermenu a.menuTop {border-top: 1px solid silver;}

td#usermenu a.highlight {background-color: #CCCC00; color: #EEEECC;}

div.errorMsg { background-color: #554433; text-align: center; border-top: 1px solid #DDDDDD; border-left: 1px solid #DDDDDD; border-right: 1px solid #554433; border-bottom: 1px solid #554433; font-weight: bold; padding: 10px;}

div.confirmMsg { background-color: #DDFFDF; color: #776655; text-align: center; border-top: 1px solid #DDDDDD; border-left: 1px solid #DDDDDD; border-right: 1px solid #554433; border-bottom: 1px solid #554433; font-weight: bold; padding: 10px;}

div.resultMsg { background-color : #AA0000; color: #333333; text-align: center; border-top: 1px solid silver; border-left: 1px solid silver; font-weight: bold; border-right: 1px solid #666666; border-bottom: 1px solid #666666; padding: 10px;}

div.xoopsCode { background: #CCBBAA; color: #000080; border: 1px inset #554433; font-family: "Courier New",Courier,monospace; padding: 0px 6px 6px 6px;}

div.xoopsQuote { background: #CCBBAA; color: #776655; border: 1px inset #554433; font-family: "Courier New",Courier,monospace; padding: 0px 6px 6px 6px;}

.comTitle {font-weight: bold; margin-bottom: 2px;}
.comText {padding: 2px;}
.comUserStat {font-size: 10px; color: #DDDDAA; font-weight:bold; border: 1px solid silver; background-color: #554433; margin: 2px; padding: 2px;}
.comUserStatCaption {font-weight: normal;}
.comUserStatus {margin-left: 2px; margin-top: 10px; color: #FF0000; font-weight:bold; font-size: 10px;}
.comUserRank {margin: 2px; color: #DDDDAA;}
.comUserRankText {font-size: 10px; font-weight:bold;}
.comUserRankImg {border: 0px none;}
.comUserName {}
.comUserImg {margin: 2px;}
.comDate {font-weight: normal; font-style: italic; font-size: smaller;}
.comDateCaption {font-weight: bold; font-style: normal;}